<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, initial-scale=2.0, maximum-scale=1.0, user-scalable=0" />

<title>Bari Company Blog</title>
<link rel="stylesheet" href="/css/styles.css?q=8" />
<link rel="stylesheet" href="/css/syntax.css" />
<script src="http://www.google.com/jsapi"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
 google.load( "webfont", "1" );
 google.setOnLoadCallback(function() {
  WebFont.load({ custom: {
   families: [ "NanumGothic" ],
   urls: [ "http://fontface.kr/NanumGothic/css" ]
  }});
 });

/*
$('a').hover(
  function(obj) {
    alert('in');
  },
  function(obj) {
    alert('out');
  }
);
*/

</script>

{% if page.title %}
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="http://bariblog.github.com{{ page.url }}"/>
<meta property="og:site_name" content="Bari Blog"/>
<meta property="og:description"
      content="{{ page.description }}"/>
{% else %}
<meta property="og:title" content="Bari Blog"/>
<meta property="og:type" content="blog"/>
<meta property="og:url" content="http://bariblog.github.com/"/>
<meta property="og:site_name" content="Bari Blog"/>
<meta property="og:description"
      content="we notice the our application"/>
{% endif %}
<meta property="og:image" content="http://www.gravatar.com/avatar/52813188698089bda7e20154c114d17e.png"/>
</head>
<body>
<div class="content-body">
  <div class="wrapper">
    <div class="header">
      <a href="http://bariblog.github.com/"><img src="/images/logo.png" style="margin-top: 10px; padding-right: 15px; vertical-align: middle;" /></a>
	<!--
	<a href="/" style="
      font-family: Verdana, Geneva, Arial, sans-serif;
      font-weight: bold;
      font-size: 40px;
      color: white;
      ">Tech Blog</a>
	-->		
      <ol id="menu-list">
          {% if page.url == '/company.html' %}
            <li><a class="selected" href="/company.html">Company</a></li><span class="seperator">&nbsp;/</span>
          {% else %}
            <li><a href="/company.html">Company</a></li><span class="seperator">&nbsp;/</span>
          {% endif %}

          {% if page.url == '/product.html' %}
            <li><a class="selected" href="/products.html">Products</a></li><span class="seperator">&nbsp;/</span>
          {% else %}
            <li><a href="/products.html">Products</a></li><span class="seperator">&nbsp;/</span>
          {% endif %}

          {% if page.url == '/posts.html' %}
            <li><a class="selected" href="/posts.html">Techniques</a></li><span class="seperator">&nbsp;/</span>
          {% else %}
            <li><a href="/posts.html">Techniques</a></li><span class="seperator">&nbsp;/</span>
          {% endif %}

          <li><a href="/contact.html">Contact</a></li><span class="seperator">&nbsp;/</span>

          <li><a href="http://www.facebook.com/pages/Nemoart/404894172938294?fref=ts"><img class="facebook-img" src="/images/facebook-icon.png" /></a></li>

        </ol>
    </div>
  
    <hr style="margin-top: 20px; margin-bottom: 20px;" />

    <div class="content">
      {{ content }}
    </div>
    <div class="push">
    </div>
  </div>

  <div style="margin-bottom: 50px;" class="footer">
    <hr style="margin-top: 20px; margin-bottom: 20px;" />
    <div id="info">
      <span>Bari Inc. All rights reserved.</span>
      <span>powerd by <a style="color: write;" href="http://pages.github.com/">pages</a></span>
    </div>
  </div>

</div>
</body>
</html>

